@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

/* Colors */

:root {
  --text-clr-dark-blue: hsl(238, 29%, 16%);
  --text-clr-redisd: hsl(14, 88%, 65%);
  /* Gradient */
  --grad-clr-top: hsl(273, 75%, 66%);
  --grad-clr-bottom: hsl(240, 73%, 65%);
  /* Neutral */
  /* Text */
  --text-clr-grayish-blue: hsl(237, 12%, 33%);
  --text-clr-light-gray: hsl(240, 6%, 50%);
  /* Dividers */
  --v-light-gray: hsl(240, 5%, 91%);
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 13px;
  background-image: linear-gradient(
    var(--grad-clr-top),
    var(--grad-clr-bottom)
  );
}

.faq-card {
  background: white;
  margin: 8rem auto 2rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq-section {
  width: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 0.75rem;
}

.active {
  color: black;
  font-weight: bold;
}

.question {
  display: flex;
  justify-content: space-between;
}

.question:visited {
  color: blueviolet;
}

.question:hover {
  cursor: pointer;
  color: var(--text-clr-redisd);
}

.answer {
  display: none;
  font-size: 12px;
  color: var(--text-clr-light-gray);
  /* overflow: hidden; */
}

.icon-container {
  margin-left: 1rem;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(16px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes rotateArrow {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}

@media (max-width: 700px) {
  .faq-card {
    background-image: url("./images/bg-pattern-mobile.svg");
    background-repeat: no-repeat;
    background-position: top center;
    width: 327px;
    height: 535px;
  }
  .faq-heading {
    text-align: center;
  }
  .image-section {
    position: relative;
    top: -110px;
  }
  .faq-section {
    position: relative;
    top: -50px;
  }
  .woman-mobile {
    width: 236px;
    position: relative;
    top: 0;
    animation: bounce 3s infinite;
  }
  .woman-desktop {
    display: none;
  }
  .box {
    display: none;
  }
}

@media (min-width: 768px) {
  .faq-card {
    background-image: url("./images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: -550px -275px;
    max-width: 920px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1rem;
  }

  .faq-section{
    width: 350px;
    margin-left: 2rem;
  }

  .box{
    animation: bounce 3s ease-in-out infinite;
    position: relative;
    top: 250px;
    left: -90px;
    z-index: 3000;

  }

  .image-section{
    /* overflow-y: clip */
  }

  .woman-desktop{
    position: relative;
    top: -100px;
    left: -80px;
    overflow-y: clip;
  }

  .woman-mobile {
    display: none;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
